[submodule "kicad_boucleRet"]
	path = kicad_boucleRet
	url = C:/MountWD/Donnees/OneDrive/Donnees/008_iao_wrk/VoRoboticsAsso/00-AutresProjetsDuLab/0043-trainElectrique/50-sousProjetBoucleDeRetournement/04-realisation/kicad_boucleRet
